*{
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-width: 100vh;
  background-color: rgb(155, 185, 155);
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px normal;
}

#fotologo{
  height: 100px;
  border-radius: 5px;
  width: auto;
}

#nava_sobre{
  position: relative;
  top: -10px;
}

.divprincinpaldologin{
  display:grid;
  justify-content: center;
  min-height: 90px;
  align-items: center;
}

#botoesparaentrar{
  display: flex;
  gap: 10px;
}

#entrar{
  position: relative;
  cursor: pointer;
}

#admin{
  position: relative;
  cursor: pointer;
}

#footer{
  display: grid;
  position: relative;
  top: 400px;
  justify-content: center;
}