PORT=3000
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/nutriplus
JWT_SECRET=seu_jwt_secret
JWT_REFRESH_SECRET=seu_refresh_secret
MERCADOPAGO_ACCESS_TOKEN=TEST-xxx
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
