PORT=3000
MONGO_URI=mongodb://root:root@mongo:27017/nutriplus?authSource=admin
# Para Atlas use: mongodb+srv://usuario:senha@cluster.mongodb.net/nutriplus
JWT_SECRET=seu_jwt_secret_super_forte
JWT_REFRESH_SECRET=seu_refresh_secret_super_forte
JWT_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
MERCADOPAGO_ACCESS_TOKEN=TEST-xxx
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
EDAMAM_APP_ID=xxx
EDAMAM_APP_KEY=xxx
OPENAI_API_KEY=sk-xxx
# APIs grátis sem cartão
CALORIENINJAS_API_KEY=xxx
USDA_API_KEY=xxx
FRONTEND_URL=http://localhost:80
BACKEND_URL=http://localhost:3000
